body{
  background-image:url(img/background.jpg);
  font-family:"Gorgia";
  font-size:20px;
  margin: 0;
  padding: 0;
 }
h1{
	font-family: Impact;
}
.navigation {
  width: 100%;
  background-color:linear-gradient(to bottom, white, Navy);
  text-align: center;
  color:white;
}

.navigation ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: #333;
       
   }

.navigation li {
       float: left;
	   display: inline-block;
	   margin-right:5px;
	   
   }
   
   