body{
  background-image:url(img/background.jpg);
  font-family:"Gorgia";
  font-size:20px;
  margin: 0;
  padding: 0;
 }
h1{
	font-family: Impact;
}
.navigation {
  width: 100%;
  text-align: center;
}

.navigation ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: steelblue; 
       	   
   }

.navigation li {
       float: center;	   
	   margin-right:10px;
	   color: white;
	   line-height: 40px;
       height: 40px;
	   display: inline-block;
       }
	  
.navigation a:hover {
      background-color: gray;
}

.navigation a {
  text-decoration: none;
  color: white;
  display: block;
 
.navigation a.active {
  background-color: gray;
  cursor: default;
}
#origine{
	display:flex;
	margin:20px;
}
.text{
	padding:0;
	width:30%;
	float:left;
}
.image{
	float:left;
	padding:0 5px;
	width:65%;
}
   
   